@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>Shop Bridge -</strong> <a class="nav-link text-dark" asp-area="" asp-page="/Account/login">Login</a></p>
</div>
